<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Destination</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <p>{{message|safe}}</p>
            {% endfor %}
        {% endif %}
        <div>
            <a href="{% url 'tb:index' %}">Home</a>
            <a href="{% url 'auth:logout' %}">Logout</a>
        </div>
        <h1>{{trip.dest}}</h1>
        <p>Planned By: {{trip.owner.name}}</p>
        <p>Description: {{trip.desc}}</p>
        <p>Travel Date From: {{trip.dFrom}}</p>
        <p>Travel Date To: {{trip.dTo}}</p>
        <hr>
        <h1>Other user's joining the trip:</h1>
        {% for user in trip.joined.all %}
        <p>{{user.name}}</p>
        {% endfor %}
    </body>
</html>